    IMPORTING

In [1]:
import pandas as pd

In [9]:
df = pd.read_csv('dataset.csv')
df

,N,P,K,ph,EC,S,Cu,Fe,Mn,Zn,B,label
0,143,69,217,5.9,0.58,0.23000,10.20,116.35,59.96,54.85,21.29,pomegranate
1,170,36,216,5.9,0.15,0.28000,15.69,114.20,56.87,31.28,28.62,pomegranate
2,158,66,219,6.8,0.34,0.20000,15.29,65.87,51.81,57.12,27.59,pomegranate
3,133,45,207,6.4,0.94,0.21000,8.48,103.10,43.81,68.50,47.29,pomegranate
4,132,48,218,6.7,0.54,0.19000,5.59,63.40,56.40,46.71,31.04,pomegranate
...,...,...,...,...,...,...,...,...,...,...,...,...
615,41,23,135,5.0,1.67,0.10655,26.00,39.20,206.89,31.09,20.64,potato
616,49,45,90,5.8,1.98,0.09229,19.00,40.20,91.12,32.68,14.91,potato
617,131,24,121,4.9,2.24,0.08775,22.00,40.00,94.34,24.93,23.74,potato
618,131,55,130,5.3,2.48,0.08983,15.00,41.00,92.58,45.73,21.48,potato
619,129,34,160,4.8,1.08,0.08869,25.00,39.00,259.93,33.49,14.16,potato

In [33]:
df.nunique()

N        135
P         90
K        238
ph        36
EC       210
S        314
Cu       469
Fe       554
Mn       604
Zn       574
B        586
label      6
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 620 entries, 0 to 619
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   N       620 non-null    int64
 1   P       620 non-null    int64
 2   K       620 non-null    int64
 3   ph      620 non-null    float64
 4   EC      620 non-null    float64
 5   S       620 non-null    float64
 6   Cu      620 non-null    float64
 7   Fe      620 non-null    float64
 8   Mn      620 non-null    float64
 9   Zn      620 non-null    float64
 10  B       620 non-null    float64
 11  label   620 non-null    object
dtypes: float64(8), int64(3), object(1)
memory usage: 58.2+ KB

In [46]:
df.dtypes

N          int64
P          int64
K          int64
ph       float64
EC       float64
S        float64
Cu       float64
Fe       float64
Mn       float64
Zn       float64
B        float64
label     object
dtype: object

In [47]:
df.label.unique()

array(['pomegranate', 'mango', 'grapes', 'mulberry', 'ragi', 'potato'],
      dtype=object)

In [48]:
df.label.nunique()

6

In [6]:
#Defining a series object
#srs = pd.Series([1,2,3,4,5])
#srs

In [5]:
#Printing series value
#srs.values

#### Specify valus in the data frame column

In [4]:
#df = pd.DataFrame([[2,3,4],[3,5,6,]],index=['a','j'],columns=['c','d',2])
#df

In [2]:
#df = pd.DataFrame( 
#     [[1, 2, 3], 
#     [4, 6, 8],
#     [10, 11, 12]],
#     index=[1, 2, 3], 
#     columns=['a', 'b', 'c'])
#df

##### Create and name a series 
Create one-dimensional array to hold any data type.
Invoke the pd.series() method and then pass a list of values. Pandas will default count index from 0.

In [3]:
#series1 = pd.DataFrame([[3,4,5,3],[2,4,5,6]],index=['b',.5], columns=['a', 'b','c','d'])
#series1

##### set the series name

In [2]:
nums = [1,2,3,4,5,6,7,8,9]
my_list = []
for n in nums:
    my_list.append(n)

my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
fruits = ['apple','banana','orange','grape']
fruits[1]

'banana'

In [4]:
fruits[2]

'orange'

In [5]:
fruits[1:3]

['banana', 'orange']

In [6]:
thislist = ["apple", "banana", "cherry"]
if "apple" in thislist:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [3]:
hat = [1,2,3,4,5,3,22,2,1,2,32,34,3,4,31,2,32,3,23,23,2,3]

In [8]:
hat.sort()

In [9]:
hat

[1, 1, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 22, 23, 23, 31, 32, 32, 34]

In [10]:
hat.sort(reverse=True)

In [11]:
hat

[34, 32, 32, 31, 23, 23, 22, 5, 4, 4, 3, 3, 3, 3, 3, 2, 2, 2, 2, 2, 1, 1]